* {
  box-sizing: border-box;
}

.node__value {
  display: inline-flex;
  flex-direction: column;
  margin: 10px 6px 0;
  width: 100%;
}

.node__branch-wrapper {
  display: flex;
}

.node__wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 50%;
  width: 100%;
}

.node__left,
.node__right {
  position: relative;
}

.node__left::before {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 50%;
  top: -10px;
  left: 50%;
  background: linear-gradient(to top left, #fff calc(50% - 1px), #000, #fff calc(50% + 1px) );
}

.node__right::before {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 50%;
  top: -10px;
  right: 50%;
  background: linear-gradient(to top right, #fff calc(50% - 1px), #000, #fff calc(50% + 1px) );
}
